<?xml version="1.0"?>
<psalm
    errorLevel="3"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src" />
        <directory name="tests" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <InvalidScalarArgument>
            <errorLevel type="suppress">
                <file name="src/JWKFetchers/Adaptors/JWTFrameworkAdaptor.php" />
            </errorLevel>
        </InvalidScalarArgument>

        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </PropertyNotSetInConstructor>

        <PossiblyUndefinedMethod>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </PossiblyUndefinedMethod>

        <PossiblyInvalidArgument>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </PossiblyInvalidArgument>

        <MismatchingDocblockPropertyType>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </MismatchingDocblockPropertyType>

        <MixedMethodCall>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </MixedMethodCall>

        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <directory name="tests/Unit/Exceptions"/>
            </errorLevel>
        </ArgumentTypeCoercion>

        <InvalidStringClass>
            <errorLevel type="suppress">
                <file name="tests/Unit/Exceptions/ExceptionTesting.php"/>
            </errorLevel>
        </InvalidStringClass>
    </issueHandlers>
</psalm>
